/* adding google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}
.nav-container {
  display: flex;
  margin: 40px;
}

.nav-icon {
  width: 50%;
  min-height: 50px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 45px;
}
.g-color {
  color: #ff42a5;
}
.nav-icon img {
  width: 80px;
  /* er jnn img regulation tik rake */
  object-fit: cover;
  margin: 0 20px 0 200px;
}
.nav-menus {
  width: 50%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-menus a {
  text-decoration: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
}
.nav-x-menus {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px;
}
.nav-x-menus i {
  padding: 5px;
}

/* banner-container style */
.banner-container {
  display: flex;
}
.text-container {
  width: 50%;
  height: 70vh;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content h1 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
}
.content h2 {
  font-family: Work Sans;
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
}
.content p {
  padding-bottom: 10px;
}
.btn-1,
.btn-2 {
  background-color: #ff42a5;
  color: white;
  padding: 10px 25px;
  text-align: center;
  border-radius: 50px;
  margin-right: 20px;
}
.btn-2 {
  background: #4ec5f7;
}
/* banner-img-container */
.banner-img-container {
  width: 50%;
  height: 70vh;
}
.banner-img-container img {
  height: 100%;
  width: 80%;
}

/* styling main section */
.card-title {
  margin-top: 100px;
}
.card-title {
  text-align: center;
  margin: 80px;
}
.linear-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* cards-container styling */
.cards-container {
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  justify-content: space-evenly;
}

.cards {
  text-align: center;
  width: 100%;
}
/* only for this one to do the img responsive */
.card-img {
  width: 70%;
}
/* for border hover effect */
.card-img:hover {
  border: 3px solid #ff42a5;
  border-radius: 10px;
}

.container-img {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f948b2;
  font-size: 20px;
  transform: translate(-50%, -50%);
}
/* footer-banner- container - */
.footer-banner-container {
  display: flex;
  gap: 50px;
}
.footer-b-title {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-img {
  display: flex;
  flex-direction: column;
}
.under {
  width: 70%;
}
.over {
  width: 150px;
  height: 150px;
  margin-top: -120px;
  margin-left: -50px;
}

/* footer-icon-container */
.icons-container {
  background-color: #fff9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}
.icon-1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  padding-bottom: 50px;
}
.icon-2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}
.x:hover {
  border: 3px solid #ff42a5;
  border-radius: 50px;
}

.x {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  text-align: center;
  border-radius: 50px;
  margin-right: 20px;
  border: 2px solid white;
  background-color: white;
}
.x img {
  width: 20%;
  padding-right: 5px;
}
/* footer container */
.footer-container {
  background: #0b0223;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}
.footer-title {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
}
.footer-items a {
  text-decoration: none;
  color: white;
}
.footer-items {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}
.logos {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  gap: 50px;
}
.terms,
.copy-right {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}
